.mapContainer {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--2);
  position: relative;
}

.map {
  height: 100%;
}

:global(.leaflet-container) {
  filter: contrast(1.05) saturate(1.1);
  background: var(--color-light--2) !important;
}

.markerPin {
  width: 22px;
  height: 22px;
  border-radius: 50% 50% 50% 0;
  background: var(--color-brand--2);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -11px;
  border: 2px solid white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.customMarker::after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 4px 0 0 -7px;
  background: rgba(0, 196, 106, 0.3);
  border-radius: 50%;
  position: absolute;
  animation: pulse 1.8s infinite ease-out;
}

:global(.leaflet-popup .leaflet-popup-content-wrapper) {
  background-color: --color-light--2;
  color: var(--color-dark--1);
  border-radius: 10px;
  border-bottom: 4px solid var(--color-brand--1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

:global(.leaflet-popup .leaflet-popup-tip) {
  background-color: var(--color-light--2);
}
